<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sole.saas.supplier.mappers.BusinessHistoryMapper">
    <resultMap id="businessHistoryPo" type="com.sole.saas.supplier.models.po.BusinessHistoryPo">
        <id property="id" column="id" jdbcType="NUMERIC"/>
    </resultMap>

    <sql id="tableName">
        supplier_business_history bh
    </sql>

    <sql id="columns">
        bh.id
    </sql>



</mapper>
