<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sole.saas.supplier.mappers.FlowNumberConfigMapper">
    <resultMap id="dictInfoPo" type="com.sole.saas.supplier.models.po.FlowNumberConfig">
        <id property="id" column="id" jdbcType="NUMERIC"/>
    </resultMap>

    <sql id="tableName">
        user_flow_number_config fnc
    </sql>

    <sql id="columns">
        fnc.id
    </sql>



</mapper>
