<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sole.saas.supplier.mappers.OfflineAchievementMapper">
    <resultMap id="offlineAchievementPo" type="com.sole.saas.supplier.models.po.OfflineAchievementPo">
        <id property="id" column="id" jdbcType="NUMERIC"/>
    </resultMap>

    <sql id="tableName">
        offline_achievement oa
    </sql>

    <sql id="columns">
        oa.id
    </sql>



</mapper>
