<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sole.saas.supplier.mappers.SequenceMapper">
    <resultMap id="registerInfoPo" type="com.sole.saas.supplier.models.po.Sequence">
        <id property="id" column="id" jdbcType="NUMERIC"/>
    </resultMap>

    <sql id="tableName">
        user_sequence s
    </sql>

    <sql id="columns">
        s.id
    </sql>



</mapper>
