<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sole.saas.supplier.mappers.SupplierBasicInfoLogMapper">
    <resultMap id="supplierBasicInfoRecordPo" type="com.sole.saas.supplier.models.po.SupplierBasicInfoLogPo">
        <id property="id" column="id" jdbcType="NUMERIC"/>
    </resultMap>



    <resultMap id="supplierPageResponse" type="com.sole.saas.supplier.models.response.SupplierPageResponse">
        <id property="id" column="id" />
        <result property="supplierId" column="supplier_id" />
        <result property="supplierCode" column="supplier_code" />
        <result property="supplierName" column="supplier_name" />
        <result property="source" column="source" />
        <result property="manageTypeId" column="manage_type_id" />
        <result property="businessStatus" column="business_status" />
        <result property="createTime" column="create_time" />
        <result property="creditCode" column="credit_code" />
        <result property="userAccount" column="user_account" />
        <result property="userName" column="user_name" />
        <result property="userTelephone" column="user_telephone" />
        <result property="userEmail" column="user_email" />
        <result property="registeredDate" column="registered_date" />
        <result property="provinceId" column="province_id" />
        <result property="cityId" column="city_id" />
        <result property="districtId" column="district_id" />
        <result property="buyerUserId" column="buyer_user_id" />
    </resultMap>

    <select id="getCustomerLogPage" parameterType="com.sole.saas.supplier.models.request.SupplierPageRequest" resultMap="supplierPageResponse">
        SELECT
            bi.id, bi.supplier_id, bi.`code` as supplier_code, bi.`name` as supplier_name, bi.source, bi.manage_type_id, bi.business_status,bi.create_time,
            qi.credit_code,
            ui.account as user_account, ui.`name` as user_name, ui.telephone as user_telephone, ui.email as user_email,
            ri.registered_date, ri.province_id, ri.city_id, ri.district_id,
            bu.buyer_user_id
        FROM
            supplier_basic_info_log bi
                LEFT JOIN supplier_qualification_info_log qi on bi.supplier_id = qi.supplier_id
                LEFT JOIN supplier_user_info_log ui ON bi.supplier_id = ui.supplier_id
                LEFT JOIN supplier_register_info_log ri ON bi.supplier_id = ri.supplier_id
                LEFT JOIN supplier_buyer_user_log bu ON bi.supplier_id = bu.supplier_id
        WHERE
            bi.STATUS = 0
            <if test="qo.businessStatusList!= null and qo.businessStatusList.size()>0" >
                AND bi.business_status IN
                <foreach collection="qo.businessStatusList" item="item" open="(" close=")" separator="," >
                    #{item}
                </foreach>
            </if>
            <if test="qo.businessStatus != null and qo.businessStatus != ''">
                AND bi.business_status = #{qo.businessStatus}
            </if>
            <if test="qo.supplierName != null and qo.supplierName != ''">
                AND bi.name LIKE CONCAT( '%', #{qo.supplierName}, '%' )
            </if>
            <if test="qo.source != null and qo.source != ''">
                AND bi.source = #{qo.source}
            </if>
            <if test="qo.userName != null and qo.userName != ''">
                AND ui.name LIKE CONCAT( '%', #{qo.userName}, '%' )
            </if>
            <if test="qo.userTelephone != null and qo.userTelephone != ''">
                AND ui.telephone = #{qo.userTelephone}
            </if>
    </select>
</mapper>
