<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sole.saas.supplier.mappers.SupplierDictLogMapper">
    <resultMap id="supplierDictRecordPo" type="com.sole.saas.supplier.models.po.SupplierDictLogPo">
        <id property="id" column="id" jdbcType="NUMERIC"/>
    </resultMap>

    <sql id="tableName">
        supplier_dict_record sdr
    </sql>

    <sql id="columns">
        sdr.id
    </sql>



</mapper>
